<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Government of Karnataka official Portal</title>
    <!-- <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/choices.min.css" type="text/css" /> -->

</head>

<body>
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- header -->
        <!-- <header>
            <div class="container">
                <div class="inner-header">
                    <div class="branding">
                        <a href="index.html"><img src="/assets/images/government-karnataka.png"
                                alt="Government of Karnataka" /></a>
                    </div>
                    <div class="hamburger-menu">
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                    </div>
                    <div class="header-left">
                        <div class="navigation-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="department.html" class="active">Departments</a></li>
                                    <li><a href="#">E-Services</a></li>
                                    <li><a href="#">Contact Directory</a></li>
                                    <li><a href="#">Helpline Numbers</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header> -->
        <!-- Home Banner -->
        <!-- Department content -->
        <div class="department_section">
            <div class="rg_rdond">
                <div class="blr rd"></div>
                <div class="blr grn"></div>
                <div class="blr ble"></div>
            </div>
            <div class="container">
                <div class="heading_2">Department 1</div>
                <div class="dept_top_box">
                    <div class="chif_dy_minister">
                        <figure><img src="/assets/images/Shri-Siddaramaiah.png" alt=""></figure>
                        <div class="hd">Shri Siddaramaiah</div>
                        <p>Chief Minister</p>
                    </div>
                    <div class="midcrls">
                        <div class="Department_carsual owl-carousel owl-theme">
                            <div class="item">
                                <figure><img src="/assets/images/government-karnataka.png" alt="Government of Karnataka" />
                                </figure>
                                <p>ಕುಟುಂಬದ ಪ್ರತಿಯೊಬ್ಬ ಮಹಿಳೆಗೆ ಪ್ರತಿ ತಿಂಗಳು ಪ್ರತಿ</p>
                            </div>
                            <div class="item">
                                <figure><img src="/assets/images/government-karnataka.png" alt="Government of Karnataka" />
                                </figure>
                                <p>ಕುಟುಂಬದ ಪ್ರತಿಯೊಬ್ಬ ಮಹಿಳೆಗೆ ಪ್ರತಿ ತಿಂಗಳು ಪ್ರತಿ</p>
                            </div>
                            <div class="item">
                                <figure><img src="/assets/images/government-karnataka.png" alt="Government of Karnataka" />
                                </figure>
                                <p>ಕುಟುಂಬದ ಪ್ರತಿಯೊಬ್ಬ ಮಹಿಳೆಗೆ ಪ್ರತಿ ತಿಂಗಳು ಪ್ರತಿ</p> 
                            </div>
                        </div>
                        <div class="online_offline_data">
                            <div class="onoff_bx">
                                <i><img src="/assets/images/online.svg" alt=""></i>
                                <div class="bt_xn">
                                    <p>Online</p>
                                    <div class="vl" style="color:#8DD69C;">35</div>
                                </div>
                            </div>
                            <div class="onoff_bx">
                                <i><img src="/assets/images/ofline.svg" alt=""></i>
                                <div class="bt_xn">
                                    <p>Offline</p>
                                    <div class="vl" style="color:#ED8277;">35</div>
                                </div>
                            </div>
                            <div class="onoff_bx">
                                <i><img src="/assets/images/online.svg" alt=""></i>
                                <div class="bt_xn">
                                    <p>Maintenance</p>
                                    <div class="vl" style="color:#EFA42C;">35</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chif_dy_minister">
                        <figure><img src="/assets/images/Shri-DK-Shivakumar.png" alt=""></figure>
                        <div class="hd">Shri DK Shivakumar</div>
                        <p>Deputy CM</p>
                    </div>
                    <div class="spinner-wrap">
                        <div class="spinner-item"></div>
                        <div class="spinner-item spinner-item--2"></div>
                        <div class="spinner-item spinner-item--3"></div>
                        <div class="spinner-item spinner-item--4"></div>
                        <div class="spinner-item spinner-item--5"></div>
                        <div class="spinner-item spinner-item--6"></div>
                    </div>
                </div>

                <div class="heading_2 ">Web Portals</div>
                <div class="depart_list_data_wrp">
                    <div class="dpr_ls_wrp">
                        <div class="row">
                            <div class="col-lg-4 dpr_ls_wrp_lt">
                                <div class="lb_dta_ins_bx">
                                    <div class="img"><img src="/assets/images/imgww.png" alt=""></div>
                                    <div class="rtx">
                                        <div class="hd">Labour Claims</div>
                                        Reference site about Lorem Ipsum, giving information on its origins, as well as
                                        a random Lipsum generator.<br><br>Reference site about Lorem Ipsum.
                                    </div>
                                </div>
                                <select id="choices-multiple-remove-button" placeholder="select option" multiple>
                                    <option value="Author" onclick="filterSelection('Author')">Author</option>
                                    <option value="MSelect">Multiselect Dropdown</option>
                                    <option value="Accordions">Accordions</option>
                                    <option value="Radio Buttons">Radio Buttons</option>
                                    <option value="SearchBox">Search Boxes</option>
                                    <option value="Tables">Tables</option>
                                    <option value="Profiles">Profiles</option>
                                    <option value="Sliders">Sliders</option>
                                    <option value="Tabs">Tabs</option>
                                    <option value="NavMenu">Navigation Menu</option>
                                    <option value="Cities">Cities</option>
                                    <option value="Countries">Countries</option>
                                    <option value="Regions">Regions</option>
                                </select>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_lmid">
                                <div class="top_lbeb_dat withbod">
                                    <div class="lt">
                                        <div class="lb">Up Time</div>
                                        <div class="vl">99.8%</div>
                                    </div>
                                    <div class="rt"><canvas id='dept1' width='70px' height="70px"></canvas></div>
                                </div>
                                <div class="top_lbeb_dat padd">
                                    <div class="lt">
                                        <div class="lb">Response Time(sec)</div>
                                        <div class="vl">20</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_rt">
                                Chart Here
                            </div>
                        </div>
                    </div>
                    <div class="dpr_ls_wrp">
                        <div class="row">
                            <div class="col-lg-4 dpr_ls_wrp_lt">
                                <div class="lb_dta_ins_bx">
                                    <div class="img"><img src="/assets/images/imgww.png" alt=""></div>
                                    <div class="rtx">
                                        <div class="hd">Labour Claims</div>
                                        Reference site about Lorem Ipsum, giving information on its origins, as well as
                                        a random Lipsum generator.<br><br>Reference site about Lorem Ipsum.
                                    </div>
                                </div>
                                <select id="choices-multiple-remove-button" placeholder="select option" multiple>
                                    <option value="Author" onclick="filterSelection('Author')">Author</option>
                                    <option value="MSelect">Multiselect Dropdown</option>
                                    <option value="Accordions">Accordions</option>
                                    <option value="Radio Buttons">Radio Buttons</option>
                                    <option value="SearchBox">Search Boxes</option>
                                    <option value="Tables">Tables</option>
                                    <option value="Profiles">Profiles</option>
                                    <option value="Sliders">Sliders</option>
                                    <option value="Tabs">Tabs</option>
                                    <option value="NavMenu">Navigation Menu</option>
                                    <option value="Cities">Cities</option>
                                    <option value="Countries">Countries</option>
                                    <option value="Regions">Regions</option>
                                </select>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_lmid">
                                <div class="top_lbeb_dat withbod">
                                    <div class="lt">
                                        <div class="lb">Up Time</div>
                                        <div class="vl">99.8%</div>
                                    </div>
                                    <div class="rt"><canvas id='dept2' width='70px' height="70px"></canvas></div>
                                </div>
                                <div class="top_lbeb_dat padd">
                                    <div class="lt">
                                        <div class="lb">Response Time(sec)</div>
                                        <div class="vl">20</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_rt">
                                Chart Here
                            </div>
                        </div>
                    </div>
                    <div class="dpr_ls_wrp">
                        <div class="row">
                            <div class="col-lg-4 dpr_ls_wrp_lt">
                                <div class="lb_dta_ins_bx">
                                    <div class="img"><img src="/assets/images/imgww.png" alt=""></div>
                                    <div class="rtx">
                                        <div class="hd">Labour Claims</div>
                                        Reference site about Lorem Ipsum, giving information on its origins, as well as
                                        a random Lipsum generator.<br><br>Reference site about Lorem Ipsum.
                                    </div>
                                </div>
                                <select id="choices-multiple-remove-button" placeholder="select option" multiple>
                                    <option value="Author" onclick="filterSelection('Author')">Author</option>
                                    <option value="MSelect">Multiselect Dropdown</option>
                                    <option value="Accordions">Accordions</option>
                                    <option value="Radio Buttons">Radio Buttons</option>
                                    <option value="SearchBox">Search Boxes</option>
                                    <option value="Tables">Tables</option>
                                    <option value="Profiles">Profiles</option>
                                    <option value="Sliders">Sliders</option>
                                    <option value="Tabs">Tabs</option>
                                    <option value="NavMenu">Navigation Menu</option>
                                    <option value="Cities">Cities</option>
                                    <option value="Countries">Countries</option>
                                    <option value="Regions">Regions</option>
                                </select>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_lmid">
                                <div class="top_lbeb_dat withbod">
                                    <div class="lt">
                                        <div class="lb">Up Time</div>
                                        <div class="vl">99.8%</div>
                                    </div>
                                    <div class="rt"><canvas id='dept3' width='70px' height="70px"></canvas></div>
                                </div>
                                <div class="top_lbeb_dat padd">
                                    <div class="lt">
                                        <div class="lb">Response Time(sec)</div>
                                        <div class="vl">20</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_rt">
                                Chart Here
                            </div>
                        </div>
                    </div>
                    <div class="dpr_ls_wrp">
                        <div class="row">
                            <div class="col-lg-4 dpr_ls_wrp_lt">
                                <div class="lb_dta_ins_bx">
                                    <div class="img"><img src="/assets/images/imgww.png" alt=""></div>
                                    <div class="rtx">
                                        <div class="hd">Labour Claims</div>
                                        Reference site about Lorem Ipsum, giving information on its origins, as well as
                                        a random Lipsum generator.<br><br>Reference site about Lorem Ipsum.
                                    </div>
                                </div>
                                <select id="choices-multiple-remove-button" placeholder="select option" multiple>
                                    <option value="Author" onclick="filterSelection('Author')">Author</option>
                                    <option value="MSelect">Multiselect Dropdown</option>
                                    <option value="Accordions">Accordions</option>
                                    <option value="Radio Buttons">Radio Buttons</option>
                                    <option value="SearchBox">Search Boxes</option>
                                    <option value="Tables">Tables</option>
                                    <option value="Profiles">Profiles</option>
                                    <option value="Sliders">Sliders</option>
                                    <option value="Tabs">Tabs</option>
                                    <option value="NavMenu">Navigation Menu</option>
                                    <option value="Cities">Cities</option>
                                    <option value="Countries">Countries</option>
                                    <option value="Regions">Regions</option>
                                </select>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_lmid">
                                <div class="top_lbeb_dat withbod">
                                    <div class="lt">
                                        <div class="lb">Up Time</div>
                                        <div class="vl">99.8%</div>
                                    </div>
                                    <div class="rt"><canvas id='dept4' width='70px' height="70px"></canvas></div>
                                </div>
                                <div class="top_lbeb_dat padd">
                                    <div class="lt">
                                        <div class="lb">Response Time(sec)</div>
                                        <div class="vl">20</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 dpr_ls_wrp_rt">
                                Chart Here
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer id="fortdd_fold">
            <div class="container">
                <div class="ft_lt">
                    <div class="foot_hd">Disclaimer :</div>
                    <p>Please Note That This Page Also Provides Links To The Websites / Web Pages Of Govt.
                        Ministries/Departments/Organisations. The Content Of These Websites Are Owned By The Respective
                        Organisations And They May Be Contacted For Any Further Information Or Suggestion.</p>
                </div>
                <div class="ft_rt">
                    <div class="foot_hd">Website Policies</div>
                    <ul class="foot_nv">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Copyright Policy</a></li>
                    </ul>
                    <ul class="foot_nv">
                        <li><a href="#">Hyperlinking Policy</a></li>
                        <li><a href="#">Security Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <ul class="foot_nv">
                        <li><a href="#">Terms And Conditions</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Screen Reader Access</a></li>
                    </ul>
                    <ul class="foot_nv">
                        <li><a href="#">Guidelines</a></li>
                        <li><a href="#">Faq’s</a></li>
                    </ul>
                </div>
                <div class="ft_btm_pr">Content Owned And Maintained By : Dept. Of Information And Public Relation
                    |Kannada
                    And Culture Dept.|Directorate Of Economics And Statistics For Help And Suggestions Contact : Project
                    Director, Web Portal, Centre For E-Governance Shantinagar Bengaluru. Phone: 08022230060 E-Mail:
                    Pd.Webportal@Karnataka.Gov.In
                    <a href="#thnd_fold" class="down_arrow srs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36.5" height="36.5" viewBox="0 0 36.5 36.5">
                            <path id="Path_895" data-name="Path 895"
                                d="M20.293,2.293a18,18,0,1,0,18,18,18.014,18.014,0,0,0-18-18Zm0,.7a17.3,17.3,0,1,1-17.3,17.3,17.328,17.328,0,0,1,17.3-17.3Zm0,8.879a.342.342,0,0,0-.353.353v15.3l-4.626-4.626a.33.33,0,0,0-.49,0,.335.335,0,0,0,0,.493l5.221,5.221a.328.328,0,0,0,.249.1.321.321,0,0,0,.249-.1l5.221-5.221a.335.335,0,0,0,0-.493.331.331,0,0,0-.49,0l-4.626,4.626v-15.3a.342.342,0,0,0-.353-.353Z"
                                transform="translate(-2.043 -2.043)" fill="#222" stroke="#222" stroke-width="0.5" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer_dwn">
                <div class="container">
                    <img src="/assets/images/meity.png" alt="">
                    <img src="/assets/images/digital_india.png" alt="">
                    <img src="/assets/images/data-gov.png" alt="">
                    <img src="/assets/images/india-gov.png" alt="">
                    <img src="/assets/images/pmidia.png" alt="">
                    <img src="/assets/images/gidinida.png" alt="">
                    <img src="/assets/images/webcontent.png" alt="">
                    <img src="/assets/images/ssl.png" alt="">
                    <img src="/assets/images/w3cs.png" alt="">
                    <img src="/assets/images/karnt.png" alt="">
                </div>
            </div>
        </footer>
    </div>
    <!-- Wrapper End -->
    <!-- Js -->
    <!-- <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src='js/bootstrap.bundle.min.js'></script>
    <script type="text/javascript" src='js/owl.carousel.min.js'></script>
    <script type="text/javascript" src='js/choices.min.js'></script>
    <script type="text/javascript" src='js/chart.min.js'></script> -->


    <!-- <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                items: 1,
                nav: false,
                dots: true
            });
            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                removeItemButton: true,
                maxItemCount: 50,
                searchResultLimit: 5,
                renderChoiceLimit: 5
            });

            var options = {
                animation: true,
                animationEasing: "easeOutSine",
                percentageInnerCutout: 70,
                segmentShowStroke: false
            }
            var data = [
                {
                    value: 35,
                    color: "#68BC79",
                },
                {
                    value: 65,
                    color: "#DDDDDD",
                }
            ];
            var dayObject = new Chart($("#dept1").get(0).getContext("2d")).Doughnut(data, options);
            var dayObject = new Chart($("#dept2").get(0).getContext("2d")).Doughnut(data, options);
            var dayObject = new Chart($("#dept3").get(0).getContext("2d")).Doughnut(data, options);
            var dayObject = new Chart($("#dept4").get(0).getContext("2d")).Doughnut(data, options);


            $(".hamburger-menu").click(function () {
                $(this).toggleClass('mn_closed mn_open');
                $("body").toggleClass("menu_smclosed");
                // $('.overlay').toggleClass('open')
            });



        });
    </script> -->
    <!-- JS End -->
</body>

</html>